/* #region Connect fonts */
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* #endregion */

/* #region Root */
:root {
  --color-secondary-brown: #a18268;
  --c-base-light: #fafae4;
  --color-primary-dark: #31261a;
  --c-green-dark: #819b57;
  --color-brand-dark: #465929;
  --color-brand-light: cfcfbc;
  --color-message-succeed: #318a37;
  --color-white: #fff;
  --color-brown: #a18268;
  --color-gray: #cfcfbc;
  --f-name-logo: Gill Sans;
  --screen-smin-phone: 320px;
  --screen-smax-phone: 480px;
  --screen--smin-tablet: 481px;
  --screen--smax-tablet: 768px;
  --screen--smin-desktop: 769px;
  --screen--smax-desktop: 1279px;
}
/* #endregion */

/* #region Base styles */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--c-base-light);
  font-family: 'Poppins', sans-serif;
  color: var(--color-primary-dark);
  line-height: normal;
  font-size: 18px;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: none;
}
svg {
  height: 100%;
  width: 100%;
}
img {
  width: 100%;
}
input {
  outline: none;
  border: none;
}
.section {
  padding: 48px 0;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  left: -10000px;
  height: 1px;
  width: 1px;
  top: auto;
}
.container {
  max-width: 1288px;
  padding: 0 24px;
  margin: 0 auto;
  width: 100%;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.noscroll {
  overflow: hidden;
}
.s-title {
  font-weight: 900;
  line-height: 1.3;
  font-size: 64px;

  @media screen and (max-width: 1279px) {
    font-size: 48px;
  }
  @media screen and (max-width: 480px) {
    font-size: 32px;
  }
}
.uppercase {
  text-transform: uppercase;
}
.accent {
  color: var(--c-green-dark);
  white-space: nowrap;
}
.semi-bold {
  font-weight: 600;
}
/* #endregion */

/* #region Header */
.header {
  padding-bottom: 32px;
  position: absolute;
  padding-top: 32px;
  right: 0;
  left: 0;
  top: 0;

  @media screen and (max-width: 768px) {
    padding-bottom: 16px;
    padding-top: 16px;
  }
}
.header__container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 24px;
}
.header__order-call {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.header__burger {
  display: block;
  @media screen and (min-width: 769px) {
    display: none;
  }
}
/* #endregion */

/* #region Logo */
.logo {
  cursor: pointer;
}
 .logo {
  width: 108px;
  height: 46px;

  @media screen and (max-width: 1279px) {
    width: 78px;
  }
  @media screen and (max-width: 768px) {
    width: 72px;
  }
} 
/* #endregion */

/* #region Nav */
.nav:not(.nav--footer) {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.nav__list {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 64px;

  @media screen and (max-width: 1279px) {
    font-size: 14px;
    gap: 38px;
  }
}
.nav__list--rows {
  flex-direction: column;
  row-gap: 16px;
  @media screen and (max-width: 1279px) and (min-width: 769px) {
    font-size: 16px;
    row-gap: 10px;
  }
  @media screen and (max-width: 768px) {
    align-items: flex-start;
    row-gap: 6px;
  }
}
.nav__link {
  color: var(--c-base-light);
  white-space: nowrap;
}
.nav__link:hover {
  color: var(--c-green-dark);
}
/* #endregion */

/* #region Button */
.btn-order-call {
  border: 2px solid var(--c-green-dark);
  background: var(--c-green-dark);
  color: var(--c-base-light);
  transition: all 0.3s;
  padding: 16px 32px;
  border-radius: 8px;
  font-weight: 600;

  @media screen and (max-width: 1279px) {
    padding: 8px 16px;
    font-size: 14px;
  }
  @media screen and (max-width: 768px) {
    padding: 16px 24px;
  }
}
.btn-order-call:hover {
  background-color: var(--c-base-light);
  color: var(--c-green-dark);
}
.btn-order-call:active {
  scale: 0.95;
}
/* #endregion */

/* #region Burger */
.burger {
  aspect-ratio: 1 / 1;
  cursor: pointer;
  display: flex;
  width: 24px;
}
/* #endregion */

/* #region Menu */
.menu {
  background-color: var(--c-base-light);
  transition: all 0.2s;
  padding: 16px 24px;
  position: fixed;
  z-index: 10;
  left: 100%;
  opacity: 0;
  bottom: 0;
  right: 0;
  top: 0;
}
.menu--open {
  opacity: 1;
  left: 0;

  @media screen and (min-width: 480px) {
    left: 30%;
  }
}
.menu__head {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 20px;
}
.menu__logo .logo__svg {
  fill: var(--color-primary-dark);
}
.menu__body .nav {
  padding-top: 32px;
  display: block;
}
.menu__body .nav__list {
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}
.menu__body .nav__link {
  color: var(--color-primary-dark);
  position: relative;
  font-size: 14px;
}
.menu__body .nav__link::before {
  background-color: var(--c-green-dark);
  border-radius: 30px;
  position: absolute;
  display: block;
  bottom: -3px;
  height: 2px;
  width: 110%;
  content: '';
  left: 0;
}
.menu--open .nav__link::before {
  animation-name: blink;
  animation-duration: 1s;
}
@keyframes blink {
  from {
    width: 0%;
  }
  to {
    width: 110%;
  }
}
.menu__img {
  position: absolute;
  width: 130px;
  bottom: 0;
  right: 0;
}

/* #endregion */

/* #region Close Menu */
.close-menu {
  cursor: pointer;
}
/* #endregion */

/* #region Hero Section */
.s-hero {
  background-image: linear-gradient(
      103deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url('./../images/hero-section-bg.jpg');
  background-repeat: no-repeat;
  background-position: 76% top;
  background-size: cover;
  padding: 272px 0;
  @media screen and (max-width: 768px) {
    padding-top: 180px;
    padding-bottom: 80px;
  }
  @media screen and (max-width: 480px) {
    padding-top: 110px;
    padding-bottom: 32px;
  }
}
.s-hero__title {
  color: var(--c-base-light);
  text-align: center;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 128px;

  @media screen and (max-width: 1279px) {
    font-size: 74px;
  }
  @media screen and (max-width: 768px) {
    line-height: 66px;
    font-size: 64px;
  }
  @media screen and (max-width: 480px) {
    line-height: 58px;
    font-size: 52px;
  }
}
.s-hero__order-call {
  margin: 48px auto 0;
  text-align: center;
  display: block;
  @media screen and (min-width: 769px) {
    display: none;
  }
}
/* #endregion */

/* #region Advantages Section */
.s-advantages {
  background-color: var(--c-green-dark);
  padding: 16px 0;
  @media screen and (max-width: 480px) {
    background-color: var(--c-base-light);
  }
}
.s-advantages__wrapper {
  @media screen and (max-width: 480px) {
    background-color: var(--color-gray);
    border-radius: 24px;
    padding: 24px 40px;
  }
}
.s-advantages__list {
  justify-content: space-between;
  color: var(--c-base-light);
  font-weight: 300;
  font-size: 20px;
  display: flex;
  gap: 20px;

  @media screen and (max-width: 1279px) {
    justify-content: space-around;
    font-size: 16px;
  }
  @media screen and (max-width: 768px) {
    text-align: center;
    font-size: 9px;
    gap: 12px;
  }
  @media screen and (max-width: 480px) {
    color: var(--color-primary-dark);
    flex-direction: column;
    font-weight: 300;
    text-align: left;
    font-size: 14px;
    gap: 16px;
  }
}
/* #endregion */

/* #region Tradition Section */
.s-tradition {
  padding-bottom: 48px;
  padding-top: 96px;
  @media screen and (max-width: 768px) {
    padding-top: 52px;
  }
  @media screen and (max-width: 480px) {
    padding-bottom: 20px;
    padding-top: 40px;
  }
}
.s-tradition__container {
  justify-content: space-between;
  display: flex;
  gap: 40px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
.s-tradition__text {
  max-width: 580px;

  @media screen and (max-width: 768px) {
    max-width: 768px;
  }
}
.s-tradition__desc {
  padding-top: 42px;

  @media screen and (max-width: 768px) {
    padding-top: 28px;
  }

  @media screen and (max-width: 480px) {
    padding-top: 24px;
  }
}
.s-tradition__image {
  max-width: 392px;

  @media screen and (max-width: 1279px) {
    min-width: 280px;
  }
}
.s-tradition__image img {
  border-radius: 400px 400px 0px 0px;
  background: #d9d9d9;
}
/* #endregion */

/* #region Chefs Section */
.s-chefs {
  padding: 48px 0;
  @media screen and (max-width: 480px) {
    padding: 20px 0px;
  }
}
.s-chefs__title {
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
}
.s-chefs__list {
  margin-top: 80px;
  display: flex;
  gap: 30px;
  @media screen and (max-width: 1279px) {
    gap: 10px;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 48px;
    gap: 30px;
  }
  @media screen and (max-width: 480px) {
    margin-top: 24px;
  }
}
.s-chefs__item {
  flex-basis: calc((100vw - 48px) / 2);

  @media screen and (max-width: 768px) {
    flex-basis: 100%;
  }
}
.s-chefs__item article {
  column-gap: 30px;
  display: flex;
  @media screen and (max-width: 1279px) {
    column-gap: 15px;
  }
}
.s-chefs__image {
  margin-left: 16px;
  max-width: 238px;
  flex-shrink: 0;

  @media screen and (max-width: 1279px) {
    width: 130px;
  }
  @media screen and (max-width: 480px) {
    width: 100px;
  }
}
.s-chefs__person {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--c-base-light),
    -16px 16px 0 2px var(--color-secondary-brown);
}
.s-chef__title {
  font-weight: 600;
  font-size: 40px;

  @media screen and (max-width: 1279px) {
    font-size: 28px;
  }
  @media screen and (max-width: 480px) {
    font-size: 24px;
  }
}
.s-chef__desc {
  margin-top: 24px;

  @media screen and (max-width: 1279px) {
    margin-top: 12px;
    font-size: 14px;
  }
  @media screen and (max-width: 768px) {
    font-weight: 300;
  }
}
/* #endregion */

/* #region Formats Sections */
.s-formats {
  padding: 48px 0;
  @media screen and (max-width: 480px) {
    padding: 20px 0px;
  }
}
.s-formats__title {
  text-align: center;
}
.s-formats__slider {
  padding-bottom: 49px;
  margin-top: 80px;
  @media screen and (max-width: 1279px) {
    margin-top: 68px;
  }
  @media screen and (max-width: 768px) {
    padding-bottom: 38px;
    margin-top: 40px;
  }
  @media screen and (max-width: 480px) {
    padding-bottom: 30px;
    margin-top: 24px;
  }
}
/* #endregion */

/* #region Contact Section */
.contact-title {
  margin-bottom: 16px;
}
/* #endregion */

/* #region Title Section */
.section-title {
  font-weight: 900;
  line-height: 1.3;
  font-size: 64px;
}
.section-title .accent {
  color: var(--color-brand-dark);
}
.section-title.centered {
  text-align: center;
}
/* #endregion */

/* #region Footer */
.footer {
  background-image: url('./../images/footer-bg.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 32px 0;
  overflow: hidden;
}
.footer__container {
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 30px;
  display: flex;

  @media screen and (max-width: 768px) {
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 15px;
  }
}
.footer__logo {
  max-width: 108px;
  @media screen and (max-width: 768px) {
    width: 108px;
  }
}
.footer__info {
  flex-direction: column;
  display: flex;
  gap: 16px;

  @media screen and (max-width: 1279px) {
    font-size: 16px;
    row-gap: 10px;
  }
}
.footer__privacy {
  color: var(--c-base-light);
  font-weight: 300;
  font-size: 16px;
}
.footer__copy {
  color: var(--color-secondary-brown);
  font-weight: 400;
  font-size: 14px;
}
.footer__img-f,
.footer__img-s {
  position: absolute;
}
.footer__img-f {
  transform: rotate(25deg);
  bottom: -42%;
  width: 305px;
  right: 0;
  @media screen and (max-width: 768px) {
    bottom: -15%;
  }
  @media screen and (max-width: 768px) {
    width: 225px;
  }
}
.footer__img-s {
  transform: rotate(-10deg);
  width: 280px;
  bottom: -48%;
  left: -11%;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
/* #endregion */

/* #region Blur Screen */
.blur-screen {
  backdrop-filter: blur(10px);
  transition: all 0.2s;
  position: fixed;
  z-index: 9;
  left: 100%;
  opacity: 0;
  bottom: 0;
  right: 0;
  top: 0;
}
.blur-screen--active {
  opacity: 1;
  left: 0;
}
/* #endregion */

/* #region Modal window order call */
.w-call-order {
  transition: all 0.3s;
  position: fixed;
  padding: 32px;
  z-index: -1;
  bottom: 0;
  right: 0;
  scale: 0;
  left: 0;
  top: 0;
}
.w-call-order--open {
  backdrop-filter: blur(4px);
  z-index: 99;
  scale: 1;
}
.w-call-order__wrapper {
  background-color: var(--c-base-light);
  transform: translate(-50%, -50%);
  border-radius: 32px;
  position: relative;
  max-width: 880px;
  display: block;
  padding: 40px;
  width: 100%;
  left: 50%;
  top: 50%;
}
.w-call-order__img {
  position: absolute;
  width: 130px;
  bottom: 0;
  right: 0;

  @media screen and (max-width: 768px) {
    width: 90px;
  }
  @media screen and (max-width: 480px) {
    width: 70px;
  }
}
.w-call-order__close {
  margin-left: auto;
  height: 32px;
  width: 32px;
}
.w-call-order__body {
  margin: 56px auto 0;
  max-width: 634px;
  height: auto;
  width: 100%;

  @media screen and (max-width: 768px) {
    margin-top: 32px;
  }
  @media screen and (max-width: 480px) {
    margin-top: 10px;
  }
}
.w-call-order__title {
  text-align: center;
  font-style: normal;
  line-height: 1.3;
  font-weight: 900;
  font-size: 64px;

  @media screen and (max-width: 1279px) {
    font-size: 60px;
  }
  @media screen and (max-width: 768px) {
    font-size: 32px;
  }
  @media screen and (max-width: 480px) {
    font-size: 24px;
  }
}
.w-call-order__desc {
  color: var(--color-brand-dark);
  text-align: center;
  margin-top: 8px;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
  @media screen and (max-width: 480px) {
    font-size: 10px;
  }
}
.w-call-order__form {
  margin-top: 72px;

  @media screen and (max-width: 1279px) {
    margin-top: 48px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 32px;
  }
  @media screen and (max-width: 480px) {
    margin-top: 10px;
  }
}

/* #endregion */

/* #region Call accepted  */
.call-accepted {
  background-color: var(--color-message-succeed);
  color: var(--color-white);
  transform: translateX(-50%);
  letter-spacing: 2px;
  position: fixed;
  width: fit-content;
  border-radius: 8px;
  visibility: hidden;
  padding: 8px 16px;
  display: block;
  z-index: -1;
  opacity: 0;
  left: 50%;
  top: 0;

  @media screen and (max-width: 768px) {
    padding: 6px 10px;
    font-size: 14px;
  }
  @media screen and (max-width: 480px) {
    padding: 6px 8px;
    font-size: 12px;
  }
}
.call-accepted__message {
  white-space: nowrap;
}
.call-accepted--show {
  animation: m-succeed 2s;
}
@media screen and (min-width: 320px) {
  @keyframes m-succeed {
    0% {
      visibility: visible;
      opacity: 0;
      top: 2%;
      z-index: 1;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 1;
      top: 6%;
    }
    100% {
      opacity: 0;
      z-index: 1;
    }
  }
}
@media screen and (min-width: 480px) {
  @keyframes m-succeed {
    0% {
      visibility: visible;
      opacity: 0;
      top: 6%;
      z-index: 1;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 1;
      top: 9%;
    }
    100% {
      opacity: 0;
      z-index: 1;
    }
  }
}
@media screen and (min-width: 769px) {
  @keyframes m-succeed {
    0% {
      visibility: visible;
      opacity: 0;
      top: 10%;
      z-index: 1;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 1;
      top: 15%;
    }
    100% {
      opacity: 0;
      z-index: 1;
    }
  }
}

/* #endregion */

/* #region Card */
.card {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: var(--c-base-light);
  justify-content: flex-end;
  flex-direction: column;
  border-radius: 16px;
  position: relative;
  display: flex;
  padding: 24px;
  height: 445px;
  @media screen and (max-width: 1279px) {
    height: 360px;
  }
  @media screen and (max-width: 768px) {
    height: 380px;
  }
  @media screen and (max-width: 480px) {
    height: 340px;
  }
}
.card--warlus {
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%
    ),
    url('./../images/walrus-card.png');
}
.card--horseshoe {
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%
    ),
    url(./../images/horseshoe-card.png);
}
.card--handlebar {
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%
    ),
    url(./../images/handlebar-card.png);
}
.card:hover {
  cursor: grab;
}
.card:active {
  cursor: grabbing;
}
.card__content {
  justify-content: flex-start;
  flex-direction: column;
  height: fit-content;
  min-height: 158px;
  display: flex;
  @media screen and (max-width: 1279px) {
    min-height: 144px;
  }
  @media screen and (max-width: 768px) {
    min-height: 124px;
  }
  @media screen and (max-width: 480px) {
    min-height: 108px;
  }
}
.card__title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  @media screen and (max-width: 768px) {
    margin-bottom: 12px;
  }
}
.card__text {
  font-weight: 300;
  font-size: 14px;
  @media screen and (max-width: 1279px) {
    font-size: 12px;
  }
  @media screen and (max-width: 480px) {
    font-size: 10px;
  }
}
/* #endregion */

/* #region Contact */
.s-contact__container {
  display: flex;
  gap: 30px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.s-contact__box,
.s-contact__map {
  @media screen and (min-width: 769px) {
    flex-basis: 50%;
  }
}
.s-contact__title {
  font-size: 62px;

  @media screen and (max-width: 1279px) {
    font-size: 35px;
  }
}
.s-contact__desc {
  color: var(--color-brand-dark);
  text-align: center;
  margin-top: 16px;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
  @media screen and (max-width: 480px) {
    font-size: 10px;
  }
}
.s-contact__form {
  margin-top: 42px;
}
/* #endregion */

/* #region Form */
.form-call__label {
  margin-bottom: 32px;
  display: block;
  height: auto;
  width: 100%;

  @media screen and (max-width: 768px) {
    margin-bottom: 22px;
  }
}
.form-call__input {
  border: 1px solid var(--color-brown);
  font-family: Roboto, sans-serif;
  border-radius: 8px;
  padding: 16px 42px;
  font-size: 16px;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding: 14px 18px;
  }
  @media screen and (max-width: 480px) {
    padding: 8px 16px;
    font-size: 14px;
  }
}
.form-call__btn {
  text-align: center;
}
.form-call__btn .btn-order-call {
  padding: 16px 32px;
  font-weight: 600;
  font-size: 18px;

  @media screen and (max-width: 480px) {
    padding: 12px 20px;
    font-size: 14px;
  }
}
.form-call__info {
  margin: 24px auto 0;
  text-align: center;
  max-width: 212px;
  font-weight: 500;
  font-size: 12px;

  @media screen and (max-width: 480px) {
    font-size: 10px;
  }
}
.form-call__link {
  color: var(--color-primary-dark);
  text-decoration: underline;
  white-space: nowrap;
  cursor: pointer;
}
.form-call__link:hover {
  color: var(--c-green-dark);
}
/* #endregion */

/* #region Map */
.map {
  width: -webkit-fill-available;
  @media screen and (max-width: 768px) {
    position: relative;
    max-width: 100vw;
    height: 280px;
    width: 100%;
    left: -24px;
  }
  /* @media screen and (max-width: 480px) {
    height: 180px;
  } */
}
/* #endregion */

/* #region Social */
.social {
  justify-content: flex-start;
  column-gap: 22px;
  display: flex;
  @media screen and (max-width: 1279px) {
    column-gap: 14px;
  }
}
.social__item {
  width: 32px;

  @media screen and (max-width: 1279px) {
    width: 24px;
  }
}
/* #endregion */

/* #region Address */
.address {
  flex-direction: column;
  display: flex;
  gap: 16px;
}
.address__list {
  flex-direction: column;
  display: flex;
  gap: 16px;

  @media screen and (max-width: 1279px) {
    font-size: 16px;
    row-gap: 10px;
  }
  @media screen and (max-width: 768px) {
    row-gap: 4px;
  }
}
.address__link {
  color: var(--c-base-light);
  font-weight: 300;
  font-size: 16px;
}
/* #endregion */
